
export APP_NAME="Beready"
export DEBUG="true"
export APP_ENCODING="UTF-8"
export APP_DEFAULT_LOCALE="en_US"
export APP_DEFAULT_TIMEZONE="UTC"

export SECURITY_SALT="a1b2c3d4e5f6g7h8i9j0k1l2m3n4o5p6q7r8s9t0"

export DATABASE_URL="postgres://postgres.bwppzgxlcqxfuzdehgyb:SUA_SENHA_AQUI@aws-1-sa-east-1.pooler.supabase.com:6543/postgres?encoding=utf8&timezone=UTC&cacheMetadata=true"