export APP_NAME="Beready"
export DEBUG="true"
export APP_ENCODING="UTF-8"
export APP_DEFAULT_LOCALE="pt_BR"
export APP_DEFAULT_TIMEZONE="America/Sao_Paulo"

export SECURITY_SALT="Coloque_uma_string_aleatoria_aqui"

export DATABASE_URL="postgres://usuario:senha@host:porta/database?encoding=utf8&timezone=UTC"

export APP_BASE_URL="http://localhost:5173"