# APP CONFIGURATION
APP_NAME="Beready"
APP_ENV="development"
APP_BASE_URL="http://localhost:5173"
DEBUG=true

APP_ENCODING="UTF-8"
APP_DEFAULT_LOCALE="pt_BR"
APP_DEFAULT_TIMEZONE="America/Sao_Paulo"

# SECURITY
SECURITY_SALT="coloque_uma_string_forte_aqui"
JWT_SECRET="coloque_um_jwt_super_forte_aqui"

# DATABASE
DATABASE_URL="postgres://USER:PASSWORD@HOST:5432/DB?sslmode=require"

# importante pro supabase:
DATABASE_SSL=true

# EMAIL
EMAIL_FROM="noreply@beready.com"
EMAIL_FROM_NAME="BeReady"

# SENTRY
SENTRY_DSN=""

# CLOUDINARY
CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""
CLOUDINARY_API_URL="https://api.cloudinary.com/v1_1"
CLOUDINARY_UPLOAD_FOLDER="beready/profile"
CLOUDINARY_DISABLE_SSL=true