APP_NAME="Beready"
DEBUG="true"
APP_ENCODING="UTF-8"
APP_DEFAULT_LOCALE="pt_BR"
APP_DEFAULT_TIMEZONE="America/Sao_Paulo"

SECURITY_SALT="Coloque_uma_string_aleatoria_aqui"

DATABASE_URL="postgres://usuario:senha@host:porta/database?encoding=utf8&timezone=UTC"

APP_BASE_URL="http://localhost:5173"

SENTRY_DSN="https://seu-dsn-aqui@sentry.io/123456"
APP_ENV="development"

CLOUDINARY_CLOUD_NAME=xxxxxxxx
CLOUDINARY_API_KEY=xxxxxxxx
CLOUDINARY_API_SECRET=xxxxxxxx