#!/usr/bin/env bash

export APP_NAME="Beready"
export DEBUG="true"
export APP_ENCODING="UTF-8"
export APP_DEFAULT_LOCALE="en_US"
export APP_DEFAULT_TIMEZONE="UTC"

export SECURITY_SALT="your_random_security_salt_here"

export DATABASE_URL="postgres://USER:PASSWORD@HOST:PORT/DATABASE?encoding=utf8&timezone=UTC&cacheMetadata=true"
